
 * {
  box-sizing: border-box;
}
#hero{
    position: relative;
    min-height: 100vh;

    background-image: url("../Image/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    /* background: red; */
    justify-content: center;
    padding-top: 20px;
}
h1{
    padding-top:12px ;
    margin: 0px;
}
nav a{
    text-decoration: none;
    color: black;
    /* margin-left: 100px; */
    
}
#home_text h2{
    color: #4369c3;
}
#divider{
    height: 4px;
    width: 50px;
    background-color: #092BA2;
    margin: 0 auto;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FAFAFA;
}
nav{
    display: flex;
    padding-top: 10px;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 30px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(6px);
    border-bottom: 2px  solid black;
    z-index: 2;
}

#hero-content{
    padding-top: 200px;
    width: 1000px;
    max-width: 1200px;
    font-size: xx-large;
    font-family: Roboto;
    z-index: 1;
    margin: 0 auto ;
    text-align: center;

}
#logo{
    display: flex;
    align-items: center;
    gap: 0;
}
#logo h1{
    margin: 0;
}
#logo img{
    display: block;
}
#a{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    text-decoration: none;
}
#a:hover{
    background-color: #092BA2;
    transition: ease-in-out 0.6s;
    border-radius: 1rem;
    color: white;
}
a:hover{
    color: white;
    transition: ease-in 0.2s;
}
#home_text{
    width: 700px;
    height: auto;
    font-size: x-large;
    font-family: Roboto;
    
}
.home{
   height: auto;
   width: 100%;
   display: flex;
  
   justify-content: center;
   padding-top: 20px;
   
}
#home_image{
    height: 266px;
    width: 40px;
}

#home_text h2{
    text-align: center;
    font-size: xx-large;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}
#home_text p{
    width: 800px;
    padding-top: 20px;
   text-align: center;
   font-size: large;
   font-family: "Inter", sans-serif;
}
/* #home_text p:hover{
    font-size: larger;
    transition: ease-out 0.2s;
} */
#hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.70); 
}
#foot{
    border-top: #4369c3;
    background-color: #092BA2;
}
#home_design{
    height: 4px;
    width: 80px;
    background-color: #092BA2;
    margin: 0px auto;
}
#home_text img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
/* #para_img{
    height: 500px;
    width: 500px;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    background-image: url("../Image/text.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.6;
    text-shadow: 0 1px 2px rgba(0,0,0,0.35);
} */
 #p1{
    border: #000000 solid 2px;
    height: 300px;
    width: 500px;
    margin-left: 80px ;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px #000000;
    
 }
 #Services{
    padding-top:80px ;
    padding-bottom: 80px;
 }
 #product{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
 }