/* #navBar{
    display: flex;
    flex-direction: row;
} */
 * {
  box-sizing: border-box;
}
#hero{
    position: relative;
    min-height: 100vh;

    background-image: url("../Image/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    /* background: red; */
    justify-content: center;
    padding-top: 20px;
}
h1{
    padding-top:12px ;
    margin: 0px;
}
nav a{
    text-decoration: none;
    color: black;
    /* margin-left: 100px; */
    
}
#home_text h2{
    color: #4369c3;
}
#divider{
    height: 4px;
    width: 50px;
    background-color: #092BA2;
    margin: 0 auto;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FAFAFA;
}
nav{
    display: flex;
    padding-top: 10px;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(6px);
    border-bottom: 2px  solid black;
    
}

#hero-content{
    padding-top: 120px;
    width: 700px;
    height: 350px;
    font-size: x-large;
    font-family: Roboto;
    z-index: 1;
}
#logo{
    display: flex;
    align-items: center;
    gap: 0;
}
#logo h1{
    margin: 0;
}
#logo img{
    display: block;
}
#a{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    text-decoration: none;
}
#a:hover{
    background-color: #092BA2;
    transition: ease-in-out 0.6s;
    border-radius: 0.5rem;
    color: white;
}
a:hover{
    color: white;
    transition: ease-in 0.2s;
}
#home_text{
    width: 700px;
    height: 350px;
    font-size: x-large;
    font-family: Roboto;
    
}
.home{
   height: 500px;
   width: 100%;
   display: flex;
  
   justify-content: center;
   padding-top: 20px;
   
}
#home_image{
    height: 266px;
    width: 40px;
}
#home_text p{
    font-size: medium;
    margin-bottom: 100px;
}
#home_text h2{
    text-align: center;
}
#hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.85); 
}
