/* #navBar{
    display: flex;
    flex-direction: row;
} */
 * {
  box-sizing: border-box;
}

h1{
    padding-top:12px ;
    margin: 0px;
}
nav a{
    text-decoration: none;
    /* margin-left: 100px; */
    
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FAFAFA;
}
nav{
    display: flex;
    padding-top: 10px;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    
    
    border-bottom: 2px  solid black;
    
}
#logo{
    display: flex;
    align-items: center;
    gap: 0;
}
#logo h1{
    margin: 0;
}
#logo img{
    display: block;
}
#a{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    text-decoration: none;
}
#a:hover{
    background-color: #092BA2;
    transition: ease-in-out 0.6s;
    border-radius: 0.5rem;
    color: white;
}
a:hover{
    color: white;
    transition: ease-in 0.2s;
}
#home_text{
    width: 500px;
    height: 350px;
    
    font-family: Roboto;
    
}
.home{
   height: 500px;
   width: auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding-top: 100px;
   
}
#home_image{
    height: 266px;
    width: 40px;
}


